{% extends './base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'booking/css/otherPageNav.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/aboutUs.css' %}" />
{% endblock %} {% block content %}

<div class="aboutUs">
  <h1 class="aboutUs_title">About Us</h1>
  <div class="aboutUs_info">
    <h2 class="aboutUs_info_title">Content</h2>
    <p class="aboutUs_info_content">
      Ticketrrr was founded in 2021 by four undergrad students of Jai Hind
      College (Tanay Giri, Azam Kudia, Yash Sindhav and Surath Jhakal) as a
      group project which later became their startup. Ticketrrr is a ticket
      booking platform for various events,activities movies right from Standup
      comedy shows to Art workshops, from Online tournaments to actual
      tournamentson on the field, Ticketrrr has tickets to all.
    </p>
  </div>
</div>
<footer
  class="text-center bg-dark text-white"
  style="background-color: #caced1"
>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="icons">
      <i
        class="fab fa-instagram fa-2x icon"
        style="margin-right: 14px; cursor: pointer"
      ></i>
      <i
        class="fab fa-github fa-2x icon"
        style="margin-right: 14px; cursor: pointer"
      ></i>
      <i
        class="fab fa-linkedin fa-2x icon"
        style="margin-right: 14px; cursor: pointer"
      ></i>
      <i
        class="fab fa-facebook-square fa-2x icon"
        style="margin-right: 14px; cursor: pointer"
      ></i>
    </div>
    <div style="font-size: 1.4rem; padding-top: 10px">
      © 2020 Copyright:
      <a class="text-white" href="#">Ticketerrr.in</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}
