{% extends './base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'booking/css/otherPageNav.css' %}" />
<style>
  .movies {
    position: absolute;
    top: 6.9%;
    width: 100%;
    /* background-color: yellowgreen; */
  }
</style>
{% endblock %} {% block content %}
<div class="movies">
  <h1>Movies Page</h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at itaque
    soluta saepe repellendus dignissimos deserunt! Quos suscipit nobis assumenda
    molestias, nemo, aspernatur facere, ipsa labore repellat voluptatem id
    eligendi!
  </h1>
</div>
{% endblock %} {% block script %}
<script>
  const movie = document.getElementsByClassName("movies")[0];
</script>
{% endblock %}
